@import "./../../../_variables"
    
.nav
    display: flex
    align-items: center
    justify-content: center
    ul
        li
            display: inline-block
            padding: 0
            margin-right: $base*6
            &:last-child
                margin-right: 0
            a
                text-transform: uppercase
                font-size: rem(15px)
                font-family: lato, sans-serif
                color: $textcolor
                font-weight: 700
                &:hover
                    color: $accent
